




.about-section {
  padding: 100px 20px;
  background: linear-gradient(135deg, #f8f9fa, #ffedf0);
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-section::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background: rgba(113, 42, 58, 0.2);
  border-radius: 50%;
  z-index: 0;
}

.about-section h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #712a3a;
  position: relative;
  z-index: 1;
}

.about-section p {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8;
  z-index: 1;
  position: relative;
}

.about-section strong {
  color: #712a3a;
}

.about-section a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #712a3a;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1;
  position: relative;
}

.about-section a:hover {
  background-color: #471a24;
  transform: scale(1.1);
}

.portfolio-section{
  background: linear-gradient(135deg, #f8f9fa, #ffedf0);
}

.portfolio-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #712a3a;
}

.intro {
  font-size: 20px;
  color:  #471a24;
}

.portfolio-item {
  transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
  color: #712a3a;
}

.portfolio-item:hover {
  background: #712a3a;
  color: #ffffff;
  transform: translateY(-10px);
}

.contact-section {
  background: linear-gradient(135deg, #f8f9fa, #ffedf0);
}

.contact-section h2 {
  color: #712a3a;
}

.contact-section p {
  color: #471a24;
}



